.button {
	background-color: #f0e1c8;
    padding: 8px 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #37576A;
    font-weight: 500;
    &--dark{
        background-color: $teal;
        color: $gold-light;
        font-weight: 400;
    }
}